*.pyc

__pycache__
*.so*
*checkpoint.ipynb
.ipynb_checkpoints
.pytest_cache
*.png

.coverage

swpcom.mod

build/*
dist/*

jupyterbook/_build

litho1pt0-src/build/*
litho1pt0-src/dist/*
/build/
/fixed-wheels/

*.egg
.eggs

src/_*module.c
src/_*wrappers.f

.local
.ipython

# Add this when building docker image or download it
*ETOPO1_Ice_c_geotiff.tif

stripy.egg-info/*

litho1pt0-src/litho1pt0.egg-info/*
litho1pt0-src/litho1pt0/Notebooks/litho1pt0/Data/ETOPO1_Ice_g_geotiff.tif
litho1pt0-src/litho1pt0/Notebooks/litho1pt0/Data/ETOPO1_Ice_g_geotiff.tif.zip


# Do we want these ?

/.idea/
/.vscode/
/.spyproject/

fixed_wheels/stripy-1.2.2-cp37-cp37m-macosx_10_9_x86_64.whl

# macos

.DS_Store