*.pyc

__pycache__
*.so*
*checkpoint.ipynb
*.png

swpcom.mod

build/*
dist/*


stripy.egg-info/*
*.egg

src/_*module.c
src/_*wrappers.f

.local
.ipython

# Add this when building docker image or download it
*ETOPO1_Ice_c_geotiff.tif
