include README.md
include MANIFEST.in
include COPYING
include COPYING.LESSER
include src/*
include f77-src/*
include stripy/__init__.py
include stripy/cartesian.py
include stripy/spherical.py
include stripy/spherical_meshes.py
include Notebooks/SphericalTriangulations/*.ipynb
include Notebooks/Data/*


