name: Conda Deployment 

on:
  release:
    types: [created, edited]

  workflow_dispatch:

  push:
    branches:
      - conda-testing

jobs:
  conda_build_test_deploy:
    name: Conda Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.7", "3.8"]
    steps:
      - uses: actions/checkout@v2

      - name: Cache conda
        uses: actions/cache@v1
        env:
        # Increase this value to reset cache if etc/example-environment.yml has not changed
          CACHE_NUMBER: 0
        with:
          path: |
            ~/conda_pkgs_dir

            
          key: ${{ matrix.os }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('.github/workflows/resources/conda_build_environment.yml') }}

      - name: Miniconda 
        uses: conda-incubator/setup-miniconda@v2
        with:
            miniconda-version: "latest"
            environment-file: .github/workflows/resources/conda_build_environment.yml
            activate-environment: conda-build
            python-version: ${{ matrix.python-version }}
            use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!

      - name: Conda Upload
        shell: bash -l {0}
        run: |
            conda config --set anaconda_upload yes
            anaconda login --hostname github-actions-${{ matrix.os  }}-$RANDOM --username ${{ secrets.ANACONDA_USERNAME }} --password ${{ secrets.ANACONDA_PASSWORD }}
            conda-build --channel conda-forge --user geo-down-under conda
            anaconda logout
